tenant = "volterra"
masternodes = ["main01"]
createnamespace = true
namespace = "foospace"
appname = "app1"
fqdn = "www.example.com"
createvk8s = false
registry_username = "<registry-username>"
registry_password = "<registry-password>"
registry_email = "email@example.com"
registry_server = "https://index.docker.io/v1/"
